[Unit]
Description=frank (irc-bot)

[Service]
User=nobody
# ensure the directory, or more specifically the “karma” file inside
# that directory is writable by User. Usually running
#   touch karma && chgrp nogroup karma
# should work fine.
WorkingDirectory=/opt/frank/
ExecStart=/opt/frank/frank -network robustirc.net -nick frank -channels "#chaos-hd #noname-ev" -verbose -admins "xeen"

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
